.not-added{
    margin-top: 20px;
    margin-bottom: 30px;
}
.not-added-title{
    padding-left: 10px;
}
.added-title{
    padding-left: 10px;
}
.paginate{
    margin-top: 20px;
    margin-bottom: 30px;
    width: 100%;
    display: flex;
    justify-content: center;
}