.carousel-img {
  width: 97%;
  max-height: 100vh;
  object-fit: unset;
  object-position: center;
  border-radius: 40px;
<<<<<<< Updated upstream
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
=======
  margin: 15px 20px;
  /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); */
>>>>>>> Stashed changes
  transition: all 0.3s ease-in-out;
}

.carousel-img-div{
  text-align: center;
}