* {
  /* border: 0.5px solid lime; */
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}
.navbar-logo {
  font-size: 30px;
  font-weight: 600;
  color: #272727;
}
.city-select{
  border: 2px solid black !important ;
  margin-bottom: 5px;
  margin-left: 10px;
  cursor: pointer;
  margin-bottom: 0px;
}
.location_conatiner h3{
  margin-bottom: 0px;
}

nav {
  position: relative;
}

a {
  text-decoration: none;
  /* user-select: none; */
}
.selectACity{
  margin-bottom: 0px;
}

@media only screen and (max-width: 760px) {
  .navbar-links .nav_logos {
    display: none;
  }
  .navbar-container-mobile {
    z-index: 1000;
    background-color: rgba(227, 227, 227, 0.9);
    position: absolute;
    width: 100%;
  }
  .menu-icon {
    transition: transform 0.4s ease-out;
    font-size: 25px;
    color: #46504d;
    cursor: pointer;
  }
  .top-bar {
    background-color: rgba(240, 240, 240, 0.9);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.01);
    /* add color here */
    display: flex;
    justify-content: space-between;
    padding: 20px 25px;
  }
  .navmenu {
    display: none;
  }

  .navmenu-active {
    display: inline-block;
    width: 100%;
    padding: 0;
  }
  .navbar-links {
    width: 100%;
    margin: 0;
  }
  .navlinks,
  .navlinks-active,
  .signup,
  .signup-active {
    display: flex;
    justify-content: center;
    padding: 20px;
    font-size: 20px;
    color: #0a0a0a;
  }

  .signup,
  .signup-active {
    border: 1px solid rgb(66, 66, 66);
    /* mobile signup btn */
    margin: 15px;
    transition: 0.4s ease-out;
  }

  .signup:hover,
  .signup-active:hover {
    background-color: rgb(66, 66, 66);
    color: #fcfcfc;
  }
  .navlinks:hover,
  .navlinks-active:hover {
    background-color: rgb(66, 66, 66);
    color: #fcfcfc;
    transition: 0.4s ease-out;
  }

  .navbar-container {
    display: flex;
    justify-content: space-between;
  }
}

@media only screen and (min-width: 761px) {
  .menu-icon {
    display: none;
  }

  .navbar-container {
    display: flex;
    background-color: rgba(240, 240, 240, 0.9);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.01);
    justify-content: space-between;
    padding: 15px 20px;
    padding-top: 15px;
    padding-bottom: 0px;
    height: max-content;
    position: fixed;
    z-index: 1000;
    width: 100%;
  }
  ul {
    display: flex;
    justify-content: space-between;
    /* color: #1c1c1c; */
  }
  .navlinks,
  .navlinks-active,
  .signup,
  .signup-active {
    color: #1f1f1f;
    padding: 15px;
    font-size: 20px;
  }

  .signup,
  .signup-active {
    border: 1px solid rgb(23, 23, 23);
    margin: 15px;
    margin-top: 12px;
    transition: 0.4s ease-out;
  }

  .signup:hover,
  .signup-active:hover {
    background-color: #131313;
    color: #eeeeee;
  }

  .navlinks:hover,
  .navlinks-active:hover {
    border-bottom: 3px solid rgb(128, 128, 128);
    transition: 0.4s ease-out;
  }

  .navlinks-active {
    color: rgb(226, 42, 42);
    border: 0px solid white;
  }
}

.nav_logos {
  padding: 0 10px;
}

.nav_logos a,
.location_conatiner i {
  display: inline-block;
  font-size: 1.5rem;
  color: #46504d;
  padding: 0 10px;
  align-items: center;
  transition: 0.2s ease-in-out;
}

.nav_logos a:hover {
  transform: scale(1.05);
}

.location_conatiner {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.location_conatiner p {
  background-color: #ffffff;
  border: #272727;
  padding: 7px 10px;
  border-radius: 25px;
}

.box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  max-width: 1100px;
  min-height: 200px;
  background-color: white;
  border: 2px solid #000;
  box-shadow: 0 0 24px rgba(0, 0, 0, 0.5);
  padding: 4px;
}

.logos_ul {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  list-style: none;
  padding: 10px;
  margin: 0;
  cursor: pointer;
}

.box li {
  padding: 0 10px;
}

.box img {
  box-shadow: none;
  width: 65px;
  height: 65px;
  display: block;
  margin: 0 auto;
}

.box span,
.city_name {
  display: block;
  margin: 0 auto;
  text-align: center;
}

.box p {
  text-align: center;
  font-size: 16px;
  text-transform: none;
  color: rgb(51, 51, 51);
  cursor: default;
}

.view_all{
  padding: 15px 0;
  color: #d11c1c;
  display: block;
  margin: 0 auto;
  text-align: center;
}

.city_list_ul {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  grid-gap: 5px;
  list-style: none;
  padding: 0;
}

.city_list_ul li {
  box-sizing: border-box;
  text-align: center;
}

.wallet{
  cursor: pointer;
  font-size: 24px;
  color: #46504d;
}

.wallet-title{
  text-align: center;
  padding: 10px 0px 0px 0px;
}

.wallet-body{
  display: flex;
  justify-content: space-evenly;
}

.addcash-btn{
  margin-top: 10px;
  text-align: center;
}

.wallet-cash{
  text-align: center;
}

.icon-nav{
  margin-left: 10px;
}

.box-title{
  color: var(--secondary-color);
}